/* Global Styles */

html {
    box-sizing: border-box;
    font-size: 15.6px;
}

body {
    text-transform: capitalize;
    background-color: $bg-color;
    color: $text-color;
    padding: 0;
    margin: 0;
}